.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* BourbonDistilleryForm.css */

.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-container h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.form-container input[type="number"],
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-container button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}

.centered-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentable-list {
  list-style: none;
  padding: 0;
  font-size: 25px; /* Moderate font size */
}

.presentable-list li::before {
  content: "\2022"; /* Bullet character */
  color: #007bff; /* Bullet color */
  font-size: 25px; /* Moderate font size */
  margin-right: 10px; /* Spacing between bullet and text */
}
/* styles.css */

.button-wrapper {
/* display: flex;  */
justify-content: center;
}

.button-wrapper button {
padding: 120px 20px;
margin: 10px; /* Add margin to create spacing between buttons */
border: none;
border-radius: 5px;
background-color: #007bff;
color: #fff;
font-size: 25px;
cursor: pointer;
}

.button-wrapper button:hover {
background-color: #0056b3;
}

